.main-container {
  font-family: "Press Start 2P", monospace;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
}
.tool-text {
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Press Start 2P", monospace;
}

canvas {
  border: 10px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: none;
}

button {
  padding: 6px 12px;
  font-family: "Press Start 2P", monospace;
  border: none;
  background-color: #efbf04;
  color: black;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 0 25px rgb(0, 0, 0);
}
